<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="js/app.js"></script>
	
<body>

	<div ng-app="myApp" ng-controller="mainController">

		<div style="border: thin solid black; margin: 10% 10%; padding: 5% 5%">
			<table>
				<!-- <tr>
					<td>ID:</td>
					<td><input type="text" ng-model="reviewObj.id"></td>
				</tr> -->
				<tr>
					<td>Brand Name:</td>
					<td><input type="text" ng-model="reviewObj.brandName"></td>
				</tr>
				<tr>
					<td>Comment:</td>
					<td><textarea rows="4" cols="50" ng-model="reviewObj.comments"></td>
				</tr>
				<tr>
					<td>
						<button type="button" class="btn btn-primary  active"
							ng-click="saveReviewForm()">Save</button>
					</td>
					<td></td>
				</tr>
			</table>
		</div>
			

			<br>
			<div ng-if="reviewList.length !== 0">
				<table border="solid" width="80%">
					<tr>
						<theader>
						<td>Brand Name</td>
						<td>Comment</td>
						</theader>
					</tr>
					<tr ng-repeat="row in reviewList">
						<td>{{row.brandName}}</td>
						<td>{{row.comments}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>